* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(172, 206, 218);
}

.list {
    width: 100%;
    max-width: 400px;
    height: 100vh;
    margin: 0 auto;
    border: 1px black solid;
    background-color: rgb(5, 74, 77);
    /* display: flex;
    flex-direction: column;
    gap: 0; */
   
}

.title {
    text-align: center;
    margin: 10px auto 0px auto;
}



/*Ajuste dos campos inputs inicio*/

.form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: auto;
    border: 6px solid rgb(4, 41, 58);
    box-shadow: 0px 0px 6px 1px black;
}

.title-inputs {
    margin: 0.8rem auto 0.8rem .5rem ;
    text-align: center;
}

.form-entrys {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5px;
    padding: 5px 0 0 0;
}

.inputs inputs {
    height: 10px;
}

input {
    color: black;
}

.painel-values{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    max-width: 100%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    text-align: left;
}

.painels {
    width: 100px;
    height: 25px;
    font-size: 1.2rem;
    text-align: left;
}

#title-amount {
    width: 46px;
}

#total-value {
    text-align: left;
}

#quantity-value {
    text-align: center;
}

.all-inputs {
    width: 4.3rem;
}

#btn-save {
    width: 100px;
    height: 30px;
    margin: 1rem auto;
    background-color: chartreuse;
    border-radius: 10px;
    font-weight: 700;
    color: rgb(5, 74, 77);
}

/*Ajuste dos campos inputs fim*/

/*-Ajuste da lista-*/

.title-itens {
    margin-top: 10px;
    text-align: center;
}

.list-content {
    height: 100vh;
    max-height: 265px;
    margin-top: 10px;
    display: flex;  
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    border: 6px solid rgb(4, 41, 58);
    box-shadow: 0px 0px 6px 1px black;  
    overflow-y: auto;
}

.box-item {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr 1fr;
    gap: 5px;
    justify-items: start;
    padding: 5px;
    
}

.btn {
    cursor: pointer;
}

.box-item span input {
    width: 100px;
}

